@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');



/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FONT-FAMILY: 'Plus Jakarta Sans', sans-serif; 

    /* COLORS */
    --FONT-LIGHT: #FFFFFF;
    --FONT-COLOR-DARK: #13183F;
    --FONT-COLOR-MEDIUM: #83869A;
    --BUTTON-FONT-COLOR: #FFFFFF;
    --LINK: #f74780;

    --HEADER-BUTTON-IDLE: #13183F;
    --HEADER-BUTTON-HOVER: #666CA3;
    --MAIN-BUTTON-IDLE: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%); 
    --MAIN-BUTTON-HOVER: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --FOOTER-BUTTON-IDLE: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    --FOOTER-BUTTON-HOVER: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%); 
    
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
}
body{
    font-family: var(--FONT-FAMILY);
}
header { 
    display: flex;
    justify-content: space-between;
}
main {
    min-height: 100vh;
    margin: 0 auto;
}
section {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    background-size: cover;
}

.icon{
    margin-left: 28px;
    margin-top: -28px;
}

.animation, 
.design, 
.photography, 
.crypto, 
.business {
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    justify-content: space-around;
}

.buttonHeader:hover {
    background-color: var(--HEADER-BUTTON-HOVER);
    cursor: pointer;
    transition: 500ms;
    border: none;
}

.buttonMain:hover {
    background-color: var(--MAIN-BUTTON-HOVER);
    cursor: pointer;
    transition: 500ms;
    border: none;
}

/* || FOOTER */

.buttonFooter:hover {
    background-color: var(--FOOTER-BUTTON-HOVER);
    cursor: pointer;
    transition: 500ms;
    border: none;
}

/* ||  MEDIA QUERIES   */
@media screen and (min-width: 375px){
    header {
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 16px;
        justify-content: space-between;
    }
    .buttonHeader {
        width: 140px;
        height: 48px;
        border-radius: 28px;
        background: var(--HEADER-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        border: none;
    }
    main {
        margin-left: 1rem;
        margin-right: 1rem;
        /* display: grid;
        grid-template-columns: 1fr; */
        
    }
    .contentLeft h1 {
        width: 343px;
        height: 101px;
        margin-top: 2.375rem;
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        color: var(--FONT-COLOR-DARK);
        text-align: left;
    }
    .contentLeft p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--FONT-COLOR-MEDIUM);
        width: 398px;
        height: 78px;
        margin-top: 1.625rem;
        text-align: left;
    }
    .buttonMain {
        width: 167px;
        height: 56px;
        border-radius: 28px;
        background: var(--MAIN-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        margin-top: 24px;
        border: none;
    }
    .contentRight img {
        position: absolute;
        top: 26rem;
    }
    .container {
        padding-top: 66px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
        display: grid;
        gap: 2.5rem; 
        grid-template-columns: 1fr;
    }
    .courses {       
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border-radius: 24px;
    }
    .table {
        background: #FFFFFF;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 10px;
    }
    .courses h2 {
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3.5rem;
        padding-bottom: 8.625rem;
    }
    .container h3 {
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        color: var(--FONT-COLOR-DARK);
        padding-top: 1.5rem;
        padding-left: 2rem;
    }
    .container p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        height: 4.875rem;
        color: var(--FONT-COLOR-MEDIUM);
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 1.375rem;
    }
    
    .container a{
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: var(--LINK);
        text-decoration: none;
        margin-top: 1.5rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: var(--FONT-COLOR-DARK);
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer img {
        align-content: center;
    }
    .buttonFooter {
        width: 167px;
        height: 56px;
        border-radius: 28px;
        background: var(--FOOTER-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;        
        border: none;
    }
}

@media screen and (min-width: 750px){
    header {
        margin-left: 39px;
        margin-right: 40px;
        padding-top: 24px;
        justify-content: space-between;
    }
    .buttonHeader {
        width: 140px;
        height: 48px;
        border-radius: 28px;
        background: var(--HEADER-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        border: none;
    }
    main {
        margin-left: 39px;
        margin-right: 40px;
        display: flex;
    }
    .contentLeft h1 {
        width: 326px;
        height: 101px;
        margin-top: 10.7rem;
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        color: var(--FONT-COLOR-DARK);
        text-align: left;
    }
    .contentLeft p {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: var(--FONT-COLOR-MEDIUM);
        width: 398px;
        height: 78px;
        margin-top: 1.5rem;
        text-align: left;
    }
    .buttonMain {
        width: 167px;
        height: 56px;
        border-radius: 28px;
        background: var(--MAIN-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        margin-top: 24px;
        border: none;
    }
    .contentRight img {
        position: absolute;
        width: 640.71px;
        height: 640px;
        top: -92.13px;
    }
    .container {
        padding-left: 39px;
        padding-right: 40px;
        padding-bottom: 5.375rem;
        display: grid;
        row-gap: 3.5rem;
        column-gap: 0.625rem; 
        grid-template-columns: repeat(2, 1fr);
    }
    .courses {       
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border-radius: 10px;
    }
    .table {
        background: #FFFFFF;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 10px;
    }
    .courses h2 {
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3.5rem;
        padding-bottom: 8.625rem;
    }
    .container h3 {
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        color: var(--FONT-COLOR-DARK);
        padding-top: 1.5rem;
        padding-left: 2rem;
    }
    .container p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        height: 4.875rem;
        color: var(--FONT-COLOR-MEDIUM);
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 1.375rem;
    }
    
    .container a{
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: var(--LINK);
        text-decoration: none;
        margin-top: 1.5rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: var(--FONT-COLOR-DARK);
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 39px;
        padding-right: 40px;
    }
    footer img {
        align-content: center;
    }
    .buttonFooter {
        width: 167px;
        height: 56px;
        border-radius: 28px;
        background: var(--FOOTER-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;        
        border: none;
    }
}

@media screen and (min-width: 1200px) {
    header {
        margin-left: 165px;
        margin-right: 165px;
        padding-top: 24px;
        justify-content: space-between;
    }
    .buttonHeader {
        width: 167px;
        height: 56px;
        border-radius: 28px;
        background: var(--HEADER-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        border: none;
    }
    main {
        margin-left: 165px;
        margin-right: 165px;
        display: flex;
    }
    .contentLeft h1 {
        width: 457px;
        height: 143px;
        margin-top: 10.75rem;
        font-weight: 800;
        font-size: 56px;
        line-height: 71px;
        color: var(--FONT-COLOR-DARK);
        text-align: left;
    }
    .contentLeft p {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: var(--FONT-COLOR-MEDIUM);
        width: 445px;
        height: 84px;
        margin-top: 1.5rem;
        text-align: left;
    }
    .buttonMain {
        width: 167px;
        height: 56px;
        border-radius: 28px;
        background: var(--MAIN-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        margin-top: 40px;
        border: none;
    }
    .contentRight img {
        position: absolute;
        width: 991.63px;
        height: 936.92px;
        /* left: 784px; */
        top: -146.13px;
    }
    .container {
        padding-left: 165px;
        padding-right: 165px;
        padding-bottom: 8.75rem;
        display: grid;
        row-gap: 5rem;
        column-gap: 1.875rem; 
        grid-template-columns: repeat(3, 1fr);
    }
    .courses {       
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border-radius: 15px;
    }
    .table {
        background: #FFFFFF;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 15px;
    }
    .courses h2 {
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        color: #FFFFFF;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 4rem;
        padding-bottom: 8.625rem;
    }
    .container h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        color: var(--FONT-COLOR-DARK);
        padding-top: 4rem;
        padding-left: 2rem;
    }
    .container p {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        height: 7rem;
        color: var(--FONT-COLOR-MEDIUM);
        text-align: left;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .container a{
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: var(--LINK);
        text-decoration: none;
        margin-top: 2.5rem;
        padding-left: 2rem;
        padding-bottom: 40px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: var(--FONT-COLOR-DARK);
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 165px;
        padding-right: 165px;
    }
    footer img {
        align-content: center;
    }
    .buttonFooter {
        width: 167px;
        height: 56px;
        border-radius: 28px;
        background: var(--FOOTER-BUTTON-IDLE);
        color: var(--BUTTON-FONT-COLOR);
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;        
        border: none;
    }
}
